@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%; /* bigger background for movement */
  animation: gradientMove 4s ease infinite; /* adjust time for speed */
}
body{
  font-family: 'Inter', sans-serif;
}
html {
  scroll-behavior: smooth;
}


.hero{
 background-color: #FFFDF2;

}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 300% 300%;
  animation: gradient-x 15s ease infinite;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; /* or your page bg color */
}
