@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%; /* bigger background for movement */
  animation: gradientMove 10s ease infinite; /* adjust time for speed */
}
body{
            font-family: 'Inter', sans-serif;
}
html {
  scroll-behavior: smooth;
}


.hero{
            background-color: #FFFDF2;

}
